[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
markdown = "*"
django-filter = "*"
django-timescaledb = "*"
pytest-dotenv = "*"
django-extensions = "*"
django-debug-toolbar = "*"
djangorestframework = "*"
psycopg2-binary = "*"

[dev-packages]

[requires]
python_version = "3.10"
